<div class="container">
  <div>
    <h2>welcome to our page !</h2>
    <h4>The number one online store to give you vegan food options and all the ingredients as well as cooking instructions.</h4>
    <hr>
    <h4>You don’t need to learn how to cook in order to go vegan, but learning a few cooking skills can dramatically increase the variety of foods you eat, while substantially cutting your food costs.
    Many new vegans make the mistake of buying a fancy gourmet cookbook as their first recipe book. These books are too complex and time-consuming to cook from every day, especially if you’re busy with work or school. You’ll be much better off if you make your first cookbook one that contains exclusively recipes intended for everyday cooking, such as this website.</h4>
  </div>
</div>
